.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid red;
}

.App-header h1 {
  color: red;
}

.App-body {
  margin-top: 50px;
  margin-left: 30px;
}

.App-footer {
  margin-top: 100px;
  border-top: 3px solid red;
}

.App-footer p {
  font-style: italic;
  text-align: center;
}
